/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.section {
  background-color: #0000001A;
  cursor: pointer;
}

.section:hover {
  /* background-color: #ebf0ff; */
}